<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="styles/minecraft.css" rel="stylesheet"/>
    <title>Minecraft</title>
</head>
<body>
<div class="menu">
    <div class="left-menu-container">
        <a href="/" class="menu-container-element page-name"><img src="assets/logos/logo_spsk.png" width="200" alt="SPSK CASE"></a>
    </div>
    <div class="middle-menu-container">
        <ul class="menu_poziome">
            <li><a href="minecraft">Minecraft</a></li>
            <li><a href="minecraft">CS:GO</a></li>
            <li><a href="minecraft">LoL</a></li>
            <li><a href="minecraft">Fortnite</a></li>
            <li><a href="minecraft">ROBLOX</a></li>
            <li><a href="minecraft">Brawl Stars</a></li>
            <li><a href="minecraft">Among us</a></li>
        </ul>
    </div>
    <div class="right-menu-container">
        <div class="menu-container-element"> Punkty: <%= user.points %></div>
        <a href="logout" class="menu-container-element"> <%= user.username %> </a>
        <a href="logout" class="menu-container-element"> wyloguj</a>
    </div>
</div>
<div class="main-container">
    <div class="button-container">
        <form action="/minecraft" method="post">
            <input type="number" name="points" min="1" max="1000000" class="points-input" placeholder="Ilość punktów, które uzyskasz." required>
            <button type="submit">Dodaj</button>
        </form>
    </div>
</div>
<div class="footer_container">
    <div class="footer_text">
        <p>Kontakt Tel. 211513379</p>
        <p>E-mail: SPSK@gmail.com</p>
        <a href="terms">Regulamin</a>
    </div>
    <div><img class="footer_logo" src="assets/logos/logo_giganci.png" alt="Starcie Gigantów"/></div>
</div>
</body>
</html>