<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/terms.css"/>
    <title>Regulamin SPSK Case</title>
</head>
<body>
<div class="menu">
    <% if (user) { %>
        <div class="left-menu-container">
            <a href="/" class="menu-container-element page-name"><img src="../assets/logos/logo_spsk.png" width="200" alt="SPSK CASE"></a>
        </div>
        <div class="middle-menu-container">
            <ul class="menu_poziome">
                <li><a href="minecraft">Minecraft</a></li>
                <li><a href="minecraft">CS:GO</a></li>
                <li><a href="minecraft">LoL</a></li>
                <li><a href="minecraft">Fortnite</a></li>
                <li><a href="minecraft">ROBLOX</a></li>
                <li><a href="minecraft">Brawl Stars</a></li>
                <li><a href="minecraft">Among us</a></li>
            </ul>
        </div>
        <div class="right-menu-container">
            <div class="menu-container-element"> Punkty: <%= user.points %></div>
            <a href="logout" class="menu-container-element"> <%= user.username %> </a>
            <a href="logout" class="menu-container-element"> wyloguj</a>
        </div>
    <% } else { %>
        <div class="left-menu-container">
            <a href="/" class="menu-container-element page-name"><img src="assets/logos/logo_spsk.png" width="200"></a>
        </div>
        <div class="middle-menu-container">
            <ul class="menu_poziome">
                <li><a href="minecraft">Minecraft</a></li>
                <li><a href="minecraft">CS:GO</a></li>
                <li><a href="minecraft">LoL</a></li>
                <li><a href="minecraft">Fortnite</a></li>
                <li><a href="minecraft">ROBLOX</a></li>
                <li><a href="minecraft">Brawl Stars</a></li>
                <li><a href="minecraft">Among us</a></li>
            </ul>
        </div>
        <div class="right-menu-container">
            <a href="users/new" class="menu-container-element"><img src="assets/rejstracja.png" width="200" alt="Rejestracja"/></a>
            <a href="login" class="menu-container-element"><img src="assets/logowanie.png" width="200" alt="Logowanie"/></a>
        </div>
    <% } %>
</div>
<header>
    <img src="assets/logos/logo_spsk.png" alt="SPSK CASE"/>
</header>
<section>
    <article>
        <h1>Regulamin Strony SPSK Case</h1>
        <p>
        <center>§1 Postanowienia ogólne</center>
        <br/> 1. Twórcami strony internetowej są uczniowie Technikum SPSK w Częstochowie
        <br/> 1.1 Każdy gracz serwera jest zobowiązany do przestrzegania regulaminu
        <br/> 1.2 Wchodząc na stronę internetowa SPSK-Case.pl akceptujesz regulamin
        <br/> 1.3 Nieznajomość regulaminu nie zwalnia z jego przestrzegania.
        <br/> 1.4 Administracja SPSK-Case.pl zastrzega sobie prawo do możliwości wykluczenia osób działających
        nieuczciwie w celu wzbogacenia swojego konta
        2. Kontakt z właścicielami serwisu internetowego odbywa się poprzez:
        <br/> a) Pocztę stacjonarną: -x-x-
        <br/> b) Pocztę elektroniczną: -x-x-
        <br/> c) Kontakt telefoniczny: -x-x-
        <br/> d) Supportem dostępnym na stronie internetowej -x-x-
        <br/> 3. Administracja zastrzega sobie prawo do edycji regulaminu
        </p>
        <p>
        <center> §2 Zasady korzystania z Serwisu internetowego</center>
        <br/> 1. Użytkowanie z strony internetowej obywa się za pomocą komputera z dostępem do internetu
        <br/> 2. Strona internetowa jest całkowicie darmowa co oznacza, że użytkownik nie ponosi żadnych kosztów
        <br/> 3. Storna jest pomysłem Właścicieli, wszystkie zaprezentowane przedmioty np.: skrzynki są fikcyjne
        <br/> 4. Aby korzystać z strony internetowej wymagana jest przeglądarka
        <br/> 5. Zoobowiązania wobec użytkownika:
        <br/> a. Użytkowanie ze strony zgodnie z jej przeznaczeniem
        <br/> b. Wszelkie znalezione tzw. bugi i ewentualne błędy należy niezwłocznie przekazać do Właścicieli
        portalu pkt. §1.2
        <br/> 6. Z serwisu mogą korzystać wszystkie osoby fizyczne, portal nie jest stroną hazardową pkt. §2.2, §2.3
        <br/> 7. Niezastosowanie się do pkt. §3.3b może grozić wykluczeniem dalszego korzystania z portalu na okres
        permamenty oraz utraty zdobytych przedmiotów
        </p>
        <p>
        <center> §3 Konto Użytkownika</center>
        <br/> 1. Rejestrując się na stronie akceptujesz regulamin pkt. §1. Dane użyte podczas rejestracji niezostaną
        nigdzie użyte pkt. §2.3
        <br/> 2. Aby zobyć środki należy skontaktować się z Właścicielami strony internetowej pkt. §2, waluta nie
        jest prawdziwa i używana w życiu codziennym
        <br/> 3. Każdy użytkownik na start otrzymuje -x-x- waluty na rozpoczęcie swojej rozgrywki
        </p>
        <p>
        <center> §4 Otwieranie skrzynek</center>
        <br/> 1. Serwis internetowy oferuje Użytkownikom możliwość zakupu otwarcia skrzynki z Przedmiotami, skrzynek
        dziennego bonusu, skrzynek z kodami zniżkowymi.
        <br/> 2. Zawartość skrzynki przed jej zakupem jest znana Użytkownikowi. Użytkownik przed rozpoczęciem
        otwarcia skrzynki, oświadcza, że akceptuje jej zawartość i nie zgłasza żadnych zastrzeżeń w tym zakresie.
        <br/> 3. Administrator nie wpływa na proces otwarcia skrzynki przez Użytkownika.
        <br/> 4. Administrator nie gwarantuje, że wartość skrzynki będzie większa od ceny zakupu otwarcia skrzynki.
        </p>
        <p>
        <center> §5 Prawa autorskie</center>
        <br/> 1. Wszystkie oraz wszelkie prawa autorskie należa do Właścicieli strony internetowej pod adresem
        SPSK-Case.pl, w skład wchodzą :
        <br/> a) Zaprezętowane grafiki inaczej logotypy
        <br/> b) Domena internetowa
        <br/> c) Nazwa portalu interetowego
        <br/> 2. Korzystanie z nich za zgodą Właścicieli strony internetowej SPSK-Case.pl
        <br/> 3. Udostępnianie zawartości pkt. §6.1, §6.2 bez zgody Właścicieli SPSK-Case.pl będzie stanowić jako
        naruszenie praw autorskich
        </p>
    </article>
</section>
<div class="footer_container">
    <div class="footer_text">
        <p>Kontakt Tel. 211513379</p>
        <p>E-mail: SPSK@gmail.com</p>
        <a href="terms">Regulamin</a>
    </div>
    <div><img class="footer_logo" src="assets/logos/logo_giganci.png" alt="Starcie Gigantów"/></div>
</div>
</body>
</html>
