@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
    box-sizing: border-box
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, serif;
    color: #e7e7e7;
    background: url('../assets/tlo przezroczyste.png') no-repeat #1a1a1a center;
}

.menu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 2vw;
    background-color: #373737
}

.menu .lewy-kontener {
    height: 100%;
    display: flex;
    align-items: center
}

.menu .lewy-kontener .element-kontenera {
    margin-left: 8%
}

.menu .lewy-kontener .nazwa-strony {
    font-weight: 700
}

.menu .prawy-kontener {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu .prawy-kontener .element-kontenera:not(:first-child) {
    margin-left: 8%
}

.glowny-kontener {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0
}

.glowny-kontener .logo {
    height: 20vw;
    background-image: url('baner - gotowe.png');
}

.glowny-kontener .grid-skrzynki {
    margin-top: 2%;
    height: 5vw;
    display: grid;
    grid-template-columns: repeat(4, auto)
}

.glowny-kontener .grid-skrzynki .element-grid-skrzynki {
    margin: 15px;
    width: 20vw;
    transition-duration: 1s;
}

.glowny-kontener .grid-skrzynki .element-grid-skrzynki:hover {
    transform: scale(1.1);
}
