@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
    box-sizing: border-box;
}

body, html {
    height: 200%;
    padding: 0;
    margin: 0;
    font-family: Roboto, serif;
    color: #e7e7e7;
    background: no-repeat center/cover url("../assets/tlo-nuke.png") fixed;
}

.menu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    min-height: 50px;
    height: 100px;
    background-color: #373737;
}

.lewy-kontener {
    height: 100%;
    display: flex;
    align-items: center;
}

.element-kontenera {
    text-decoration: none;
    color: #e7e7e7;
}

.lewy-kontener .element-kontenera {
    margin-left: 8%;
}

.nazwa-strony {
    font-weight: 700;
}

.prawy-kontener {
    height: 100%;
    display: flex;
    align-items: center;
}

.prawy-kontener .element-kontenera:not(:first-child) {
    margin-left: 8%;
}

.glowny-kontener {
    display: flex;
}

.postac-lewo, .postac-prawo {
    width: 15%;
    overflow: visible;
}

.postac-lewo img {
    position: sticky;
    transform: rotatey(180deg);
    width: 20vw;
    object-fit: contain;
    top: 13vw;
    z-index: 1;
}

.postac-prawo {
    order: 1;
}

.kontener-skrzynek {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.logo{
    width: 100%;
}

.flex-skrzynki {
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1a1a1a;
}

.element-flex-skrzynki {
    cursor: pointer;
    z-index: 2;
    margin: 0 calc(2vw - 4px) 2vw 0;
    border-radius: 10px;
    background-color: rgba(105, 105, 105, .1);
    object-fit: contain;
    width: 15vw;
    height: 15vw;
    transition-duration: .5s;
}

.element-flex-skrzynki:last-child, .element-flex-skrzynki:nth-child(4n)  {
    margin-right: 0;
}

.element-flex-skrzynki.no-margin-bottom {
    margin-bottom: 0;
}

.element-flex-skrzynki:hover {
    transform: scale(1.05);
    background-color: rgba(105, 105, 105, .5);
}

.footer {
    height: 100px;
    background-color: aliceblue;
}
