@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, serif;
    color: #e7e7e7;
    background: no-repeat center/cover url("../assets/tlo-nuke.png") fixed;
}

.menu {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    min-height: 50px;
    height: 100px;
    background-color: #373737;
    z-index: 3;
}

.lewy-kontener {
    height: 100%;
    display: flex;
    align-items: center;
}

.element-kontenera {
    text-decoration: none;
    color: #e7e7e7;
}

.lewy-kontener .element-kontenera {
    margin-left: 8%;
}

.nazwa-strony {
    font-weight: 700;
}

.prawy-kontener {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right:3.5vh;
}

.prawy-kontener .element-kontenera:not(:first-child) {
    margin-left: 8%;
}

.glowny-kontener {
    display: flex;
}

.postac-lewo, .postac-prawo {
    display: flex;
    align-items: flex-end;
    width: 15%;
    overflow: visible;
}

.postac-lewo img {
    position: sticky;
    transform: rotatey(180deg);
    width: 20vw;
    flex-shrink: 0;
    object-fit: contain;
    bottom: 0;
    z-index: 1;
}

.postac-prawo img {
    position: sticky;
    width: 22vw;
    flex-shrink: 0;
    object-fit: contain;
    bottom: 0;
    z-index: 1;
    direction: rtl;
}

.postac-prawo {
    display: flex;
    justify-content: flex-end;
    order: 1;
}

.kontener-skrzynek {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.logo{
    width: 100%;
}

.flex-skrzynki {
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1a1a1a;
}

.element-flex-skrzynki {
    cursor: pointer;
    z-index: 2;
    margin: 0 calc(2vw - 4px) 2vw 0;
    border-radius: 10px;
    background-color: rgba(105, 105, 105, .1);
    object-fit: contain;
    width: 15vw;
    height: 15vw;
    transition-duration: .5s;
}

.element-flex-skrzynki:last-child, .element-flex-skrzynki:nth-child(4n)  {
    margin-right: 0;
}

.element-flex-skrzynki.no-margin-bottom {
    margin-bottom: 0;
}

.element-flex-skrzynki:hover {
    transform: scale(1.05);
    background-color: rgb(69, 69, 69);
}

.footer_container {
    height: 20vh;
    width:auto;
    background-color: #1a1a1a;
    border-top: solid;
    border-color: #262626;
    border-width: 3px;
   
  
}

.footer_text {
    float:left;
    display: inline-block;
    margin-left: 5vh;
    font-size: 2.4vh;
}

.footer_logo{
   float:right;
   margin:auto;
    width:20vw;
    
}

.middle_container {
    margin: auto;
    font-size:3vh;
}

ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	float: left;
	
	padding: 1px 0 1px 1px;
	
}

ul li {
	float: left;
}

    ul a:link, ul a:visited {
        text-decoration: none;
        display: block;
        font-weight: bold;
        background: #1a1a1a;
        color: #fff;
        padding: 10px 20px;
        border-right: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    ul a:hover {
        background-color: #262626;
        
    }
