@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-container {
    flex: 1;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    min-height: 50px;
    height: 100px;
    background-color: #1a1a1a;
    z-index: 3;
    white-space: nowrap;
    font-family: Roboto, serif;
    border-bottom: solid #262626 3px;
}

.left-menu-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.middle-menu-container {
    margin: auto;
    font-size: 3vh;
}

.middle-menu-container ul, .middle-menu-container li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.middle-menu-container ul {
    float: left;
    padding: 1px 0 1px 1px;
}

.middle-menu-container ul li {
    float: left;
}

.middle-menu-container ul a:link, .middle-menu-container ul a:visited {
    text-decoration: none;
    display: block;
    font-weight: bold;
    background: #1a1a1a;
    color: #fff;
    padding: 10px 20px;
    border-right: 1px solid #fff;
    border-right: 1px solid #fff;
}

.middle-menu-container ul a:hover {
    background-color: #262626;

}

.right-menu-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-container-element {
    text-decoration: none;
    color: #e7e7e7;
}

.left-menu-container .menu-container-element {
    margin-left: .5vw;
}

.page-name {
    font-weight: 700;
}

.right-menu-container .menu-container-element {
    margin-right: .5vw;
}

.footer_container {
    height: 20vh;
    width: auto;
    background-color: #1a1a1a;
    border-top: solid;
    border-color: #262626;
    border-width: 3px;
    font-family: Roboto, serif;
    color: #e7e7e7;
}

.footer_text {
    float: left;
    display: inline-block;
    margin-left: 5vh;
    font-size: 2.4vh;
}

.footer_logo {
    float: right;
    margin: auto;
    width: 20vw;
}