* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main-container {
    flex: 1;
}

.menu {
    display: flex;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    background-color: #1a1a1a;
    z-index: 3;
    font-family: Roboto, serif;
    border-bottom: solid #262626 3px;
    width: 100%;
}

.left-menu-container {
    padding-left: 2vw;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-menu-container img {
    width: 100%;
}

.middle-menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    font-family: '8BITWONDERNominal', serif;
    padding: 2vw;
}

.middle-menu-container .menu-container-element-wrapper {
    border-left: 1px solid #fff;
    font-size: 0;
}

.middle-menu-container .menu-container-element {
    width: 8vw;
    min-width: 172px;
    font-size: max(.58vw, 12px);
}

.middle-menu-container a{
    padding: 10px 20px;
    border-right: 1px solid #fff;
}

.middle-menu-container a:hover {
    background-color: #262626;
}

.right-menu-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: '8BITWONDERNominal', serif;
    font-size: max(.7vw, 8px);
    margin-right: 2vw;
}

.right-menu-container img {
    width: 2vw;
    margin-right: .5vw;
    min-width: 24px;
}

.menu-container-element {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #e7e7e7;
    white-space: nowrap;
}

.footer_container {
    height: 20vh;
    width: auto;
    background-color: #1a1a1a;
    border-top: solid;
    border-color: #262626;
    border-width: 3px;
    font-family: Roboto, serif;
    color: #e7e7e7;
}

.footer_text {
    float: left;
    display: inline-block;
    margin-left: 5vh;
    font-size: 2.4vh;
}

.footer_logo {
    float: right;
    margin: auto;
    width: 20vw;
}
