@import "common-attributes.css";

body {
    font-family: Roboto, serif;
    color: #e7e7e7;
    background: no-repeat center/cover url("../assets/backgrounds/bg_csgo.png") fixed;
}

.main-container {
    display: flex;
}

.char-left-container, .char-right-container {
    display: flex;
    align-items: flex-end;
    width: 15%;
    overflow: visible;
}

.char-left-container div, .char-right-container div {
    position: sticky;
    flex-shrink: 0;
    width: 17vw;
    height: 80%;
    bottom: 0;
    z-index: 1;
    object-fit: contain;
}

.char-left-container div {
    transform: rotatey(180deg);

}

.char-right-container {
    justify-content: flex-end;
    order: 1;
}

.char-left {
    background: no-repeat bottom/108% url("../assets/characters/char_csgo_1.png");
}

.char-right {
    background: no-repeat bottom/130% url("../assets/characters/char_csgo_2.png");
}

.middle-container {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
}

.case-container {
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1a1a1a;
}

.case-container-element {
    cursor: pointer;
    z-index: 2;
    border-radius: 10px;
    background-color: rgba(105, 105, 105, .1);
    object-fit: contain;
    width: 15vw;
    height: 15vw;
    transition-duration: .5s;
}

.case-container a {
    margin: 0 calc(2vw - 4px) 2vw 0;
    height: 15vw;
    width: 15vw;
    z-index: 2;
}

.case-container a:last-child, .case-container a:nth-child(4n) {
    margin-right: 0;
}

.case-container a.no-margin-bottom {
    margin-bottom: 0;
}

.case-container-element:hover {
    transform: scale(1.05);
    background-color: rgb(69, 69, 69);
}

@media all and (max-width: 1080px) {
    .char-left-container {
        display: none;
    }

    .char-right-container {
        display: none;
    }

    #fortnite {
        margin-right: 2vw;
    }
    #brawlstars {
        margin: 0 0 2vw 0;
    }
}
