@import "common-attributes.css";

body, html {
    font-family: Roboto, serif;
    color: #e7e7e7;
    background: no-repeat center/cover url("../assets/backgrounds/bg_csgo.png") fixed;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;

}

.log-in-container {
    display: flex;
    height: 530px;
    width: 480px;
    /*background-color: rgba(105, 105, 105, .1);*/
    background-color: white;
        background-color: #171717;
    font-family: 'Fira Code', sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.form-box {
    width: 459px;
    height: 493px;
    padding: 20px 55px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
   
    
}

input{
    
    background-color:transparent;
    color:white;
    border:none;
    border-bottom:1px solid hsla(0, 0%, 100%,.5);
    width:90%;
    margin:10px 0;
}
form{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}


.button {
    color: black;
    margin-top: 50px;
    display: block;
    background-color: white;
    border: none;
    font-size: 14px;
    padding: 10px 19px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    width:145px;
    white-space:nowrap;
    text-align:center;
   
}

    .button:hover {
        background-color: #e6e6e6
    }

    .button:active {
        background-color: #a6a6a6
    }