@import "common-attributes.css";

body {
    box-sizing: border-box;
    font-family: Baloo, serif;
}

header img {
    width: 500px;
    display: block;
}

article {
    margin-top: 20px

}

article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 15% 20px 15%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}

.v2 {
    width: auto;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    min-height: 50px;
    height: 100px;
    background-color: #373737;
    z-index: 3;
}

article p {
    text-align: justify;
    line-height: 25px;
    font-size: 17px;
    padding: 15px 0 15px 0;
}
